body{
    width: 80%;
    margin:0px 10px;
    
}

/* header */
header{
    background-image: url(../image/header.jpg);
    width: 1250px;
    height: 100px;
    font-style: italic;
}

#head-img{
    width: 65px;
    height: 65px;
    display: inline-block;
    margin: 15px 15px ;
    float: left;
}
h1{
    color: #fff;
    padding-top: 25px;
    font-family:Arial, Helvetica, sans-serif;
}
/* body sec */
#body-sec{
    width: 120%;
    float: left;
    
}
/* nav */
#nav{
    float: right;
    margin-top: -1em;
    margin-right: 1%;
    font-family: Segoe UI ;
    font-size: 18px;
    color: #fff;
}

nav a{
    text-decoration: none;
    color: #fff;
}
.nav-menus{
    float: left;
    color: #fff;
    list-style: none;
    padding-right: 1em;
    text-decoration: none;
}
nav li a:hover{
   color: royalblue;
}
/* left bar for add  */
#left-bar{
    width: 25%;
    float: left;
    display: inline;
    background-color: rgba(0, 0, 0, 0.075);
    padding-bottom: 20px;
    margin-right: 29px;
    animation: left 2s ease-in-out;
}
@keyframes left{
    0%{
     transform: translateX(-40%);
    }
   }
.cards{
    margin-left: 20px;
    margin-top: 10px;
  border: 3px solid rgba(255, 0, 0, 0.637);
}
.card-img{
    margin-top: 10px;
}
.card-tex{
    width: 200px;
}
.btn{
    background-color: rgb(65, 105, 225);
    text-decoration: none;
    padding: 7px;
    text-align-last: center;
    color: #fff;
}

#carouselExampleIndicators{
    width: 40%;
    float: right;
    margin-right: 30%;
    margin-top:5%;
}
#color{
   color:  rgb(65, 105, 225);
   margin-top:5%;
   
}
/*social media icons*/
.social-icons {
    list-style: none;
    display: flex;
    float: left;
    margin-top:3%;
    padding: 10px;
}

.social-icons li {
    margin-right: 10px;
    padding: 40%;
   
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    text-decoration: none;
    color:  rgb(65, 105, 225);
    font-size: 30px;
}
/* footer */
footer{
    height: 10%;
    width: 103%;
    font-family: sans-serif;
    padding-top: 1.5%;
    margin-top: 600px;
    padding-bottom: 1.5%;
    text-align: center;
    background-image: url(../image/foot1.jpg);
    font-size: 20px;
    color: #fff;   
}
